@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f8f8;
  --foreground: #171d1c;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #171d1c;
    --foreground: #ecf0f1;
  }
} */

input,
textarea,
a,
button {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.2s, color 0.2s;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.show-scroll::-webkit-scrollbar {
  display: block;
  width: 4px;
  height: 4px;
}

.animate-skeleton {
  background: linear-gradient(110deg, #f6f6f6 10%, #d7d7d7 16%, #f6f6f6 33%);
  background-size: 200% 150%;
  animation: 1.5s shine linear infinite;
}

@media (prefers-color-scheme: dark) {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #070e16;
  }

  .animate-skeleton {
    background: linear-gradient(110deg, #383f49 10%, #9d9d9d 16%, #383f49 33%);
  }
}
